.category__filter{
    display: flex;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
    align-items: center;
    p{
        font-weight: bold;
    }
    @media screen and (max-width: 600px) {
       flex-direction: column;
      }
}

.category__option{
    display: flex;
    align-items: center;
    gap: 1.6rem;

    label{
        display: flex;
        align-items: center;
        gap: .4rem;
    }
}